{{ 'jewlr-custom-banner.css' | asset_url | stylesheet_tag }}

{%- style -%}
  #JewlrBanner-{{ section.id }} .jewlr-custom-banner__content {
    display: flex;
    flex-direction: column;
    width: 100%;
    {%- assign m_align = section.settings.mobile_content_alignment -%}
    {%- case m_align -%}
      {%- when 'top' -%} justify-content: flex-start;
      {%- when 'center' -%} justify-content: center;
      {%- when 'bottom' -%} justify-content: flex-end;
    {%- endcase -%}
    align-items: center;
  }

  {%- assign bg_opacity = section.settings.content_background_opacity | divided_by: 100.0 -%}
  #JewlrBanner-{{ section.id }} .jewlr-custom-banner__content-inner {
    {%- if section.settings.content_background_color != 'rgba(0,0,0,0)' and section.settings.content_background_color != blank and section.settings.content_background_opacity > 0 -%}
      background-color: {{ section.settings.content_background_color | color_modify: 'alpha', bg_opacity }};
      padding: 10px;
      border-radius: 5px;
    {%- endif -%}
    text-align: center;
    width: 100%;
  }

  #JewlrBanner-{{ section.id }} .jewlr-custom-banner__heading-wrapper,
  #JewlrBanner-{{ section.id }} .jewlr-custom-banner__text-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }


  @media screen and (min-width: 48rem) {
    #JewlrBanner-{{ section.id }} .jewlr-custom-banner__content {
      display: flex;
      flex-direction: column;
      {%- assign position = section.settings.desktop_content_position -%}
      {%- case position -%}
        {%- when 'top-left' or 'top-center' or 'top-right' -%} justify-content: flex-end;
        {%- when 'middle-left' or 'middle-center' or 'middle-right' -%} justify-content: center;
        {%- when 'bottom-left' or 'bottom-center' or 'bottom-right' -%} justify-content: flex-start;
      {%- endcase -%}

      {%- case position -%}
        {%- when 'top-left' or 'middle-left' or 'bottom-left' -%} align-items: flex-start;
        {%- when 'top-center' or 'middle-center' or 'bottom-center' -%} align-items: center;
        {%- when 'top-right' or 'middle-right' or 'bottom-right' -%} align-items: flex-end;
      {%- endcase -%}
    }

    #JewlrBanner-{{ section.id }} .jewlr-custom-banner__content-inner {
      {%- if section.settings.content_background_color != 'rgba(0,0,0,0)' and section.settings.content_background_color != blank and section.settings.content_background_opacity > 0 -%}
        padding: 20px;
      {%- endif -%}
      max-width: {{ section.settings.desktop_content_width }}%;
      {%- assign alignment = section.settings.desktop_content_alignment -%}
      text-align: {{ alignment }};
    }

    #JewlrBanner-{{ section.id }} .jewlr-custom-banner__heading-wrapper,
    #JewlrBanner-{{ section.id }} .jewlr-custom-banner__text-wrapper {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: {%- if alignment == 'left' -%}flex-start{%- elsif alignment == 'right' -%}flex-end{%- else -%}center{%- endif -%};
    }
  }

  {%- if section.settings.desktop_buttons_side_by_side -%}
    @media screen and (min-width: 48rem) {
      #JewlrBanner-{{ section.id }} .jewlr-custom-banner__content-inner {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: {%- if alignment == 'left' -%}flex-start{%- elsif alignment == 'right' -%}flex-end{%- else -%}center{%- endif -%};
      }
      #JewlrBanner-{{ section.id }} .jewlr-custom-banner__button {
        width: auto;
        min-width: 160px;
      }
    }
  {%- endif -%}

  #JewlrBanner-{{ section.id }} .jewlr-custom-banner__media::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 1;
    {%- if section.settings.overlay_color != blank and section.settings.overlay_opacity > 0 -%}
      background: {{ section.settings.overlay_color }};
      opacity: {{ section.settings.overlay_opacity | divided_by: 100.0 }};
    {%- else -%}
      background: none;
      opacity: 0;
    {%- endif -%}
  }

  #JewlrBanner-{{ section.id }} .jewlr-custom-banner__icon-wrapper {
    width: {{ section.settings.icon_width_mobile }}px;
  }

  @media screen and (min-width: 48rem) {
    #JewlrBanner-{{ section.id }} .jewlr-custom-banner__icon-wrapper {
      width: {{ section.settings.icon_width }}px;
    }
  }

  .jewlr-custom-banner__video-wrapper {
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
  }

  .jewlr-custom-banner__video {
    width: 100%;
    height: auto;
    display: block;
    border: none;
  }

  iframe.jewlr-custom-banner__video {
    aspect-ratio: 16 / 9;
  }
{%- endstyle -%}

<div
  id="JewlrBanner-{{ section.id }}"
  class="jewlr-custom-banner jewlr-custom-banner--{{ section.settings.background_type }}{% if section.settings.mobile_layout == 'overlay' %} jewlr-custom-banner--mobile-overlay{% endif %}"
  {% if section.settings.background_type == 'gradient' and section.settings.background_gradient != blank %}
    style="background: {{ section.settings.background_gradient }};"
  {% endif %}
>
  <div class="jewlr-custom-banner__media">
    {%- case section.settings.background_type -%}
      {%- when 'image' -%}
        {%- if section.settings.image_mobile != blank -%}
          {{
            section.settings.image_mobile
            | image_url: width: 750
            | image_tag:
              loading: 'lazy',
              class: 'jewlr-custom-banner__image jewlr-custom-banner__image--mobile',
              widths: '375, 550, 750',
              sizes: '100vw'
          }}
        {%- endif -%}

        {%- if section.settings.image_desktop != blank -%}
          {{
            section.settings.image_desktop
            | image_url: width: 3840
            | image_tag:
              loading: 'lazy',
              class: 'jewlr-custom-banner__image jewlr-custom-banner__image--desktop',
              widths: '750, 1100, 1500, 1780, 2000, 3000, 3840',
              sizes: '100vw'
          }}
        {%- endif -%}
      {%- when 'video' -%}
        <div class="jewlr-custom-banner__video-wrapper">
          {%- if section.settings.video_url != blank -%}
            {%- if section.settings.video_url contains 'youtube.com'
              or section.settings.video_url contains 'youtu.be'
            -%}
              {%- assign video_id = '' -%}
              {%- if section.settings.video_url contains 'youtube.com/watch' -%}
                {%- assign video_id = section.settings.video_url | split: 'v=' | last | split: '&' | first -%}
              {%- elsif section.settings.video_url contains 'youtu.be/' -%}
                {%- assign video_id = section.settings.video_url | split: '.be/' | last -%}
              {%- endif -%}
              <iframe
                src="https://www.youtube.com/embed/{{ video_id }}?enablejsapi=1&autoplay=1&loop=1&playlist={{ video_id }}&controls=0&mute=1"
                class="jewlr-custom-banner__video"
                allow="autoplay; encrypted-media"
                allowfullscreen
              ></iframe>
            {%- elsif section.settings.video_url contains 'vimeo.com' -%}
              {%- assign video_id = section.settings.video_url | split: '.com/' | last | split: '/' | first -%}
              <iframe
                src="https://player.vimeo.com/video/{{ video_id }}?autoplay=1&loop=1&background=1"
                class="jewlr-custom-banner__video"
                allow="autoplay; encrypted-media"
                allowfullscreen
              ></iframe>
            {%- else -%}
              <video class="jewlr-custom-banner__video" autoplay loop muted playsinline>
                <source src="{{ section.settings.video_url }}" type="video/mp4">
              </video>
            {%- endif -%}
          {%- endif -%}
        </div>
      {%- when 'gradient' -%}
        <div
          class="jewlr-custom-banner__gradient"
          style="background: {{ section.settings.background_gradient }};"
        ></div>
    {%- endcase -%}
  </div>

  <div class="jewlr-custom-banner__content">
    <div class="jewlr-custom-banner__content-inner">
      {%- for block in section.blocks -%}
        {%- case block.type -%}
          {%- when 'heading' -%}
            <div
              class="jewlr-custom-banner__heading-wrapper block-{{ block.id }}"
              style="
                --banner-heading-color: {{ block.settings.heading_color }};
                --banner-heading-size-desktop: {{ block.settings.heading_size }}px;
                --banner-heading-size-mobile: {{ block.settings.heading_size_mobile }}px;
              "
              {{ block.shopify_attributes }}
            >
              <h1 class="jewlr-custom-banner__heading">{{ block.settings.heading | newline_to_br }}</h1>
              {%- if section.settings.icon != blank and section.settings.show_icon_mobile -%}
                <div
                  class="jewlr-custom-banner__icon-wrapper jewlr-custom-banner__icon-wrapper--mobile"
                >
                  {{
                    section.settings.icon
                    | image_url: width: section.settings.icon_width
                    | image_tag: loading: 'lazy', class: 'jewlr-custom-banner__icon'
                  }}
                </div>
              {%- endif -%}
            </div>
          {%- when 'text' -%}
            <div
              class="jewlr-custom-banner__text-wrapper block-{{ block.id }}"
              style="
                --banner-text-color: {{ block.settings.text_color }};
                --banner-text-size-desktop: {{ block.settings.text_size }}px;
                --banner-text-size-mobile: {{ block.settings.text_size_mobile }}px;
              "
              {{ block.shopify_attributes }}
            >
              <h2 class="jewlr-custom-banner__text{% unless block.settings.show_text_mobile %} jewlr-custom-banner__content--mobile-hidden{% endunless %}">
                {{ block.settings.text | newline_to_br }}
              </h2>
              {%- if section.settings.icon != blank -%}
                <div
                  class="jewlr-custom-banner__icon-wrapper jewlr-custom-banner__icon-wrapper--desktop"
                >
                  {{
                    section.settings.icon
                    | image_url: width: section.settings.icon_width
                    | image_tag: loading: 'lazy', class: 'jewlr-custom-banner__icon'
                  }}
                </div>
              {%- endif -%}
            </div>
          {%- when 'button' -%}
            {%- if block.settings.button_label != blank and block.settings.button_link != blank -%}
              <a
                href="{{ block.settings.button_link }}"
                class="jewlr-custom-banner__button jewlr-custom-banner__button--{{ block.settings.button_style }} block-{{ block.id }}"
                style="
                  --banner-button-bg-custom: {{ block.settings.button_bg_color }};
                  --banner-button-text-custom: {{ block.settings.button_text_color }};
                  --banner-button-size-custom: {{ block.settings.button_font_size }}px;
                  margin-top: {{ block.settings.margin_top }}px;
                  margin-bottom: {{ block.settings.margin_bottom }}px;
                  margin-left: {{ block.settings.margin_horizontal }}px;
                  margin-right: {{ block.settings.margin_horizontal }}px;
                "
                {{ block.shopify_attributes }}
              >
                {{ block.settings.button_label }}
              </a>
            {%- endif -%}
        {%- endcase -%}
      {%- endfor -%}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Jewlr Banner",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "select",
      "id": "background_type",
      "label": "Background Type",
      "options": [
        {
          "value": "image",
          "label": "Image"
        },
        {
          "value": "video",
          "label": "Video"
        },
        {
          "value": "gradient",
          "label": "Gradient"
        }
      ],
      "default": "image"
    },
    {
      "type": "color",
      "id": "overlay_color",
      "label": "Overlay color"
    },
    {
      "type": "range",
      "id": "overlay_opacity",
      "label": "Overlay opacity (%)",
      "min": 0,
      "max": 100,
      "step": 5,
      "default": 40
    },
    {
      "type": "header",
      "content": "Content Background"
    },
    {
      "type": "color",
      "id": "content_background_color",
      "label": "Content Background Color",
      "default": "#000000"
    },
    {
      "type": "range",
      "id": "content_background_opacity",
      "label": "Content Background Opacity (%)",
      "min": 0,
      "max": 100,
      "step": 5,
      "default": 0
    },
    {
      "type": "checkbox",
      "id": "desktop_buttons_side_by_side",
      "label": "Show buttons side-by-side on desktop",
      "default": true
    },
    {
      "type": "select",
      "id": "desktop_content_position",
      "label": "Desktop Content Position",
      "options": [
        { "value": "top-left", "label": "Top Left" },
        { "value": "top-center", "label": "Top Center" },
        { "value": "top-right", "label": "Top Right" },
        { "value": "middle-left", "label": "Middle Left" },
        { "value": "middle-center", "label": "Middle Center" },
        { "value": "middle-right", "label": "Middle Right" },
        { "value": "bottom-left", "label": "Bottom Left" },
        { "value": "bottom-center", "label": "Bottom Center" },
        { "value": "bottom-right", "label": "Bottom Right" }
      ],
      "default": "middle-center"
    },
    {
      "type": "select",
      "id": "desktop_content_alignment",
      "label": "Desktop Content Alignment",
      "options": [
        { "value": "left", "label": "Left" },
        { "value": "center", "label": "Center" },
        { "value": "right", "label": "Right" }
      ],
      "default": "center"
    },
    {
      "type": "range",
      "id": "desktop_content_width",
      "min": 20,
      "max": 100,
      "step": 5,
      "unit": "%",
      "label": "Desktop Content Max Width",
      "default": 100
    },
    {
      "type": "select",
      "id": "mobile_content_alignment",
      "label": "Mobile Content Alignment",
      "options": [
        { "value": "top", "label": "Top" },
        { "value": "center", "label": "Center" },
        { "value": "bottom", "label": "Bottom" }
      ],
      "default": "center"
    },
    {
      "type": "select",
      "id": "mobile_layout",
      "label": "Mobile Layout",
      "options": [
        {
          "value": "stack",
          "label": "Stack Content"
        },
        {
          "value": "overlay",
          "label": "Overlay Content"
        }
      ],
      "default": "stack"
    },
    {
      "type": "header",
      "content": "Image Settings"
    },
    {
      "type": "image_picker",
      "id": "image_desktop",
      "label": "Desktop Image"
    },
    {
      "type": "image_picker",
      "id": "image_mobile",
      "label": "Mobile Image"
    },
    {
      "type": "header",
      "content": "Video Settings"
    },
    {
      "type": "url",
      "id": "video_url",
      "label": "Video URL",
      "info": "Enter a video URL."
    },
    {
      "type": "header",
      "content": "Gradient Settings"
    },
    {
      "type": "color_background",
      "id": "background_gradient",
      "label": "Background Gradient",
      "default": "linear-gradient(180deg, rgba(255, 255, 255, 1), rgba(0, 0, 0, 1))"
    },
    {
      "type": "header",
      "content": "Icon Settings"
    },
    {
      "type": "image_picker",
      "id": "icon",
      "label": "Icon"
    },
    {
      "type": "range",
      "id": "icon_width",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Icon Width (Desktop)",
      "default": 24
    },
    {
      "type": "range",
      "id": "icon_width_mobile",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Icon Width (Mobile)",
      "default": 20
    },
    {
      "type": "checkbox",
      "id": "show_icon_mobile",
      "label": "Show icon on mobile",
      "default": true
    }
  ],
  "blocks": [
    {
      "type": "heading",
      "name": "Heading",
      "limit": 1,
      "settings": [
        {
          "type": "textarea",
          "id": "heading",
          "label": "Heading",
          "default": "Jewlr Custom Banner"
        },
        {
          "type": "color",
          "id": "heading_color",
          "label": "Heading Color",
          "default": "#000000"
        },
        {
          "type": "range",
          "id": "heading_size",
          "min": 10,
          "max": 100,
          "step": 1,
          "unit": "px",
          "label": "Desktop Heading Size",
          "default": 64
        },
        {
          "type": "range",
          "id": "heading_size_mobile",
          "min": 10,
          "max": 100,
          "step": 1,
          "unit": "px",
          "label": "Mobile Heading Size",
          "default": 48
        }
      ]
    },
    {
      "type": "text",
      "name": "Subheading",
      "settings": [
        {
          "type": "textarea",
          "id": "text",
          "label": "Text",
          "default": "Give customers details about the banner image(s) or content on the template."
        },
        {
          "type": "color",
          "id": "text_color",
          "label": "Text Color",
          "default": "#000000"
        },
        {
          "type": "range",
          "id": "text_size",
          "min": 10,
          "max": 100,
          "step": 1,
          "unit": "px",
          "label": "Desktop Text Size",
          "default": 28
        },
        {
          "type": "range",
          "id": "text_size_mobile",
          "min": 10,
          "max": 100,
          "step": 1,
          "unit": "px",
          "label": "Mobile Text Size",
          "default": 22
        },
        {
          "type": "checkbox",
          "id": "show_text_mobile",
          "label": "Show text on mobile",
          "default": true
        }
      ]
    },
    {
      "type": "button",
      "name": "Button",
      "limit": 2,
      "settings": [
        {
          "type": "text",
          "id": "button_label",
          "label": "Button Label",
          "default": "Button"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "Button Link"
        },
        {
          "type": "select",
          "id": "button_style",
          "label": "Button Style",
          "options": [
            {
              "value": "primary",
              "label": "Primary"
            },
            {
              "value": "secondary",
              "label": "Secondary"
            },
            {
              "value": "custom",
              "label": "Custom"
            }
          ],
          "default": "primary"
        },
        {
          "type": "color",
          "id": "button_bg_color",
          "label": "Custom Button Background",
          "default": "#000000"
        },
        {
          "type": "color",
          "id": "button_text_color",
          "label": "Custom Button Text",
          "default": "#ffffff"
        },
        {
          "type": "range",
          "id": "button_font_size",
          "min": 10,
          "max": 50,
          "step": 1,
          "unit": "px",
          "label": "Custom Button Font Size",
          "default": 16
        },
        {
          "type": "header",
          "content": "Spacing"
        },
        {
          "type": "range",
          "id": "margin_top",
          "min": 0,
          "max": 100,
          "step": 4,
          "unit": "px",
          "label": "Margin Top",
          "default": 8
        },
        {
          "type": "range",
          "id": "margin_bottom",
          "min": 0,
          "max": 100,
          "step": 4,
          "unit": "px",
          "label": "Margin Bottom",
          "default": 8
        },
        {
          "type": "range",
          "id": "margin_horizontal",
          "min": 0,
          "max": 100,
          "step": 4,
          "unit": "px",
          "label": "Horizontal Margin (Gap)",
          "default": 8
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Jewlr Banner",
      "blocks": [
        {
          "type": "heading"
        },
        {
          "type": "text"
        },
        {
          "type": "button"
        }
      ]
    }
  ]
}
{% endschema %}
